TANL/experiments/focused_cross_entropy/g2_environments/2_trig/gold_only/brackets/
TANL/experiments/focused_cross_entropy/g2_environments/2_trig/gold_only/brackets_and_types/
TANL/experiments/focused_cross_entropy/g2_environments/2_trig/gold_only/types/
TANL/experiments/focused_cross_entropy/g2_environments/2_trig/model_outs_and_gold/brackets/
TANL/experiments/focused_cross_entropy/g2_environments/2_trig/model_outs_and_gold/brackets_and_types/
TANL/experiments/focused_cross_entropy/g2_environments/2_trig/model_outs_and_gold/types/
TANL/experiments/focused_cross_entropy/g2_environments/2_trig/negative_loss/weight_1/
TANL/experiments/focused_cross_entropy/g2_environments/2_trig/negative_loss/weight_01/

TANL/experiments/focused_cross_entropy/g2_environments/3_trig/gold_only/brackets/
TANL/experiments/focused_cross_entropy/g2_environments/3_trig/gold_only/brackets_and_types/
TANL/experiments/focused_cross_entropy/g2_environments/3_trig/gold_only/types/
TANL/experiments/focused_cross_entropy/g2_environments/3_trig/model_outs_and_gold/brackets/
TANL/experiments/focused_cross_entropy/g2_environments/3_trig/model_outs_and_gold/brackets_and_types/
TANL/experiments/focused_cross_entropy/g2_environments/3_trig/model_outs_and_gold/types/
TANL/experiments/focused_cross_entropy/g2_environments/3_trig/negative_loss/weight_1/
TANL/experiments/focused_cross_entropy/g2_environments/3_trig/negative_loss/weight_01/

TANL/experiments/multiple_phase/

TANL/experiments/multiple_triggers/g2_environments/

TANL/experiments/verbose_tags/g2_environments/