TANL/experiments/focused_cross_entropy/g2_environments/2_trig/gold_only/brackets/*
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/gold_only/brackets/train_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/gold_only/brackets/dev_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/gold_only/brackets/logs.json

TANL/experiments/focused_cross_entropy/g2_environments/2_trig/gold_only/brackets_and_types/*
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/gold_only/brackets_and_types/train_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/gold_only/brackets_and_types/dev_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/gold_only/brackets_and_types/logs.json

TANL/experiments/focused_cross_entropy/g2_environments/2_trig/gold_only/types/*
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/gold_only/types/train_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/gold_only/types/dev_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/gold_only/types/logs.json

TANL/experiments/focused_cross_entropy/g2_environments/2_trig/model_outs_and_gold/brackets/*
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/model_outs_and_gold/brackets/train_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/model_outs_and_gold/brackets/dev_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/model_outs_and_gold/brackets/logs.json

TANL/experiments/focused_cross_entropy/g2_environments/2_trig/model_outs_and_gold/brackets_and_types/*
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/model_outs_and_gold/brackets_and_types/train_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/model_outs_and_gold/brackets_and_types/dev_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/model_outs_and_gold/brackets_and_types/logs.json

TANL/experiments/focused_cross_entropy/g2_environments/2_trig/model_outs_and_gold/types/*
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/model_outs_and_gold/types/train_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/model_outs_and_gold/types/dev_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/model_outs_and_gold/types/logs.json

TANL/experiments/focused_cross_entropy/g2_environments/2_trig/negative_loss/weight_1/*
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/negative_loss/weight_1/train_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/negative_loss/weight_1/dev_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/negative_loss/weight_1/logs.json

TANL/experiments/focused_cross_entropy/g2_environments/2_trig/negative_loss/weight_01/*
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/negative_loss/weight_01/train_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/negative_loss/weight_01/dev_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/2_trig/negative_loss/weight_01/logs.json


TANL/experiments/focused_cross_entropy/g2_environments/3_trig/gold_only/brackets/*
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/gold_only/brackets/train_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/gold_only/brackets/dev_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/gold_only/brackets/logs.json

TANL/experiments/focused_cross_entropy/g2_environments/3_trig/gold_only/brackets_and_types/*
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/gold_only/brackets_and_types/train_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/gold_only/brackets_and_types/dev_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/gold_only/brackets_and_types/logs.json

TANL/experiments/focused_cross_entropy/g2_environments/3_trig/gold_only/types/*
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/gold_only/types/train_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/gold_only/types/dev_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/gold_only/types/logs.json

TANL/experiments/focused_cross_entropy/g2_environments/3_trig/model_outs_and_gold/brackets/*
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/model_outs_and_gold/brackets/train_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/model_outs_and_gold/brackets/dev_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/model_outs_and_gold/brackets/logs.json

TANL/experiments/focused_cross_entropy/g2_environments/3_trig/model_outs_and_gold/brackets_and_types/*
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/model_outs_and_gold/brackets_and_types/train_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/model_outs_and_gold/brackets_and_types/dev_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/model_outs_and_gold/brackets_and_types/logs.json

TANL/experiments/focused_cross_entropy/g2_environments/3_trig/model_outs_and_gold/types/*
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/model_outs_and_gold/types/train_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/model_outs_and_gold/types/dev_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/model_outs_and_gold/types/logs.json

TANL/experiments/focused_cross_entropy/g2_environments/3_trig/negative_loss/weight_1/*
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/negative_loss/weight_1/train_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/negative_loss/weight_1/dev_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/negative_loss/weight_1/logs.json

TANL/experiments/focused_cross_entropy/g2_environments/3_trig/negative_loss/weight_01/*
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/negative_loss/weight_01/train_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/negative_loss/weight_01/dev_predictions.txt
!TANL/experiments/focused_cross_entropy/g2_environments/3_trig/negative_loss/weight_01/logs.json


TANL/experiments/multiple_phase/phase_1/g2_environments/2_trig/*
!TANL/experiments/multiple_phase/phase_1/g2_environments/2_trig/train_predictions.txt
!TANL/experiments/multiple_phase/phase_1/g2_environments/2_trig/dev_predictions.txt
!TANL/experiments/multiple_phase/phase_1/g2_environments/2_trig/test_predictions.txt
!TANL/experiments/multiple_phase/phase_1/g2_environments/2_trig/logs.json

TANL/experiments/multiple_phase/phase_1/g2_environments/ner/*
!TANL/experiments/multiple_phase/phase_1/g2_environments/ner/train_predictions.txt
!TANL/experiments/multiple_phase/phase_1/g2_environments/ner/dev_predictions.txt
!TANL/experiments/multiple_phase/phase_1/g2_environments/ner/test_predictions.txt
!TANL/experiments/multiple_phase/phase_1/g2_environments/ner/logs.json


TANL/experiments/multiple_phase/phase_2/g2_environments/2_trig/*
!TANL/experiments/multiple_phase/phase_2/g2_environments/2_trig/train_predictions.txt
!TANL/experiments/multiple_phase/phase_2/g2_environments/2_trig/dev_predictions.txt
!TANL/experiments/multiple_phase/phase_2/g2_environments/2_trig/test_predictions.txt
!TANL/experiments/multiple_phase/phase_2/g2_environments/2_trig/logs.json

TANL/experiments/multiple_phase/phase_2/g2_environments/ner/*
!TANL/experiments/multiple_phase/phase_2/g2_environments/ner/train_predictions.txt
!TANL/experiments/multiple_phase/phase_2/g2_environments/ner/dev_predictions.txt
!TANL/experiments/multiple_phase/phase_2/g2_environments/ner/test_predictions.txt
!TANL/experiments/multiple_phase/phase_2/g2_environments/ner/logs.json


TANL/experiments/multiple_triggers/g2_environments/earliest_trig/*
!TANL/experiments/multiple_triggers/g2_environments/earliest_trig/train_predictions.txt
!TANL/experiments/multiple_triggers/g2_environments/earliest_trig/dev_predictions.txt
!TANL/experiments/multiple_triggers/g2_environments/earliest_trig/logs.json

TANL/experiments/multiple_triggers/g2_environments/earliest_2_trig/*
!TANL/experiments/multiple_triggers/g2_environments/earliest_2_trig/train_predictions.txt
!TANL/experiments/multiple_triggers/g2_environments/earliest_2_trig/dev_predictions.txt
!TANL/experiments/multiple_triggers/g2_environments/earliest_2_trig/logs.json

TANL/experiments/multiple_triggers/g2_environments/earliest_3_trig/*
!TANL/experiments/multiple_triggers/g2_environments/earliest_3_trig/train_predictions.txt
!TANL/experiments/multiple_triggers/g2_environments/earliest_3_trig/dev_predictions.txt
!TANL/experiments/multiple_triggers/g2_environments/earliest_3_trig/logs.json

TANL/experiments/multiple_triggers/g2_environments/popular_2_trig/*
!TANL/experiments/multiple_triggers/g2_environments/popular_2_trig/train_predictions.txt
!TANL/experiments/multiple_triggers/g2_environments/popular_2_trig/dev_predictions.txt
!TANL/experiments/multiple_triggers/g2_environments/popular_2_trig/logs.json

TANL/experiments/multiple_triggers/g2_environments/popular_3_trig/*
!TANL/experiments/multiple_triggers/g2_environments/popular_3_trig/train_predictions.txt
!TANL/experiments/multiple_triggers/g2_environments/popular_3_trig/dev_predictions.txt
!TANL/experiments/multiple_triggers/g2_environments/popular_3_trig/logs.json

TANL/experiments/multiple_triggers/g2_environments/popular_trig/*
!TANL/experiments/multiple_triggers/g2_environments/popular_trig/train_predictions.txt
!TANL/experiments/multiple_triggers/g2_environments/popular_trig/dev_predictions.txt
!TANL/experiments/multiple_triggers/g2_environments/popular_trig/logs.json


TANL/experiments/verbose_tags/g2_environments/2_trig/*
!TANL/experiments/verbose_tags/g2_environments/2_trig/train_predictions.txt
!TANL/experiments/verbose_tags/g2_environments/2_trig/dev_predictions.txt
!TANL/experiments/verbose_tags/g2_environments/2_trig/logs.json

TANL/experiments/verbose_tags/g2_environments/3_trig/*
!TANL/experiments/verbose_tags/g2_environments/3_trig/train_predictions.txt
!TANL/experiments/verbose_tags/g2_environments/3_trig/dev_predictions.txt
!TANL/experiments/verbose_tags/g2_environments/3_trig/logs.json

TANL/experiments/multi_task/g2_environments/default/*
!TANL/experiments/multi_task/g2_environments/default/train_predictions.txt
!TANL/experiments/multi_task/g2_environments/default/dev_predictions.txt
!TANL/experiments/multi_task/g2_environments/default/logs.json

TANL/experiments/multi_task/g2_environments/heavy_weight/*
!TANL/experiments/multi_task/g2_environments/heavy_weight/train_predictions.txt
!TANL/experiments/multi_task/g2_environments/heavy_weight/dev_predictions.txt
!TANL/experiments/multi_task/g2_environments/heavy_weight/logs.json